<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppVersionDate" value="4/5/2025" />
    <add key="Developer" value="false" />
    <add key="dbFileName" value="MB3DAnimationCopilot.db" />
    <add key="AppDataPathSub" value="MB3D Copilot" />
    <add key="GithubProjectURL" value="https://github.com/PatCook1/MB3D-Animation-Copilot" />
    <add key="PatCook1GithubURL" value="https://PatCook1.Github.io" />
    <add key="JoyToKeyURL" value="https://joytokey.net/en/" />
    <add key="ErrorLogFileName" value="MB3DErrorLogFile.txt" />
    <add key="SampleProjectName" value="Sample Animation Project" />    
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=[AppDataPath]\[AppDataPathSub]\[dbFileName];version=3" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>