<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dbFileName" value="MB3DAnimationCopilot.db" />
    <add key="AppDataPathSub" value="MB3D Copilot" />
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=[AppDataPath]\[AppDataPathSub]\[dbFileName];version=3" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>